:root{
    
    /* Alert Box */

    --alert-box-bg:var(--neutral-50);
    
    --alert-box-bg-success:var(--success-50);
    --alert-box-color-success:var(--success-500);
    --alert-box-st-color-success:var(--success-400);

    --alert-box-bg-error:var(--error-50);
    --alert-box-color-error:var(--error-500);
    --alert-box-st-color-error:var(--error-400);

    --alert-box-bg-warning:var(--warning-50);
    --alert-box-color-warning:var(--warning-400);
    --alert-box-st-color-warning:var(--warning-300);

    --alert-box-bg-info:var(--primary-50);
    --alert-box-color-info:var(--primary-400);
    --alert-box-st-color-info:var(--primary-300);


}
/* Alert Box */
.alert-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    height: 80px;
    padding: var(--spacing-2) var(--spacing-4);

    background-color: var(--neutral-50);
    color: var(--neutral-600);
    border: var(--border-width-medium) solid var(--neutral-600);
    border-radius: var(--border-radius-1);
}
.alert-box-content{
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.alert-box-text{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.alert-box-title{
    font-weight: var(--font-weight-semibold);
    font-size: var(--button-font-size);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
}

.alert-box-sub-title{
    font-weight: var(--font-weight-neutral);
    font-size: var(--button-font-size);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
}

.close-alert-box-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color var(--transition-duration-medium);
}

/* success */
.alert-box.success{
    background-color: var(--alert-box-bg-success);
    border-color: var(--alert-box-color-success);
    color: var(--alert-box-color-success);
}

.alert-box.success .close-alert-box-btn{
    color: var(--alert-box-color-success);
}
.alert-box.success .close-alert-box-btn:hover{
    color: var(--alert-box-st-color-success);
}

.alert-box.success .alert-box-sub-title{
    color: var(--alert-box-st-color-success);
}

/* error */
.alert-box.error{
    background-color: var(--alert-box-bg-error);
    border-color: var(--alert-box-color-error);
    color: var(--alert-box-color-error);
}

.alert-box.error .close-alert-box-btn{
    color: var(--alert-box-color-error);
}

.alert-box.error .close-alert-box-btn:hover{
    color: var(--alert-box-st-color-error);
}

.alert-box.error .alert-box-sub-title{
    color: var(--alert-box-st-color-error);
}

/* warning */
.alert-box.warning{
    background-color: var(--alert-box-bg-warning);
    border-color: var(--alert-box-color-warning);
    color: var(--alert-box-color-warning);
}

.alert-box.warning .close-alert-box-btn{
    color: var(--alert-box-color-warning);
}

.alert-box.warning .close-alert-box-btn:hover{
    color: var(--alert-box-st-color-warning);
}

.alert-box.warning .alert-box-sub-title{
    color: var(--alert-box-st-color-warning);
}


/* info */
.alert-box.info{
    background-color: var(--alert-box-bg-info);
    border-color: var(--alert-box-color-info);
    color: var(--alert-box-color-info);
}

.alert-box.info .close-alert-box-btn{
    color: var(--alert-box-color-info);
}

.alert-box.info .close-alert-box-btn:hover{
    color: var(--alert-box-st-color-info);
}

.alert-box.info .alert-box-sub-title{
    color: var(--alert-box-st-color-info);
}