:root{
    /* buttons */
    
    /* primary */
    --button-primary-bg:var(--primary-600);
    --button-primary-bg-hover:var(--primary-400);

    /* success */
    --button-success-bg:var(--success-500);
    --button-success-bg-hover:var(--success-300);

    /* error */
    --button-error-bg:var(--error-500);
    --button-error-bg-hover:var(--error-300);
    
    /* warning */
    --button-warning-bg:var(--warning-400);
    --button-warning-bg-hover:var(--warning-200);

    /* neutral */
    --button-neutral-bg:var(--neutral-600);
    --button-neutral-bg-hover:var(--neutral-400);

    /* neutral-2 */
    --button-neutral-2-bg:var(--neutral-50);
    --button-neutral-2-bg-hover:var(--neutral-200);
    --button-neutral-2-color:var(--neutral-600);

    /* Icons */
    --icon-font-size:20px;
}

/* Button */
.button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    padding: var(--spacing-3) var(--spacing-6);
    border-radius: var(--border-radius-2);
    width: max-content;
    border: var(--border-width-medium) solid transparent;
    transition: background var(--transition-duration-medium), border var(--transition-duration-medium), color var(--transition-duration-medium);
}

.button .content{
    font-weight: var(--font-weight-medium);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    letter-spacing: var(--button-letter-spacing);
}

.button .icon{
    font-size: var(--icon-font-size);
}

.button.just-icon{
    padding: var(--spacing-3) var(--spacing-3);
}

.button.outline{
    background-color: var(--default-white) !important;
}


/* Primary */
.button.primary{
    background-color: var(--button-primary-bg);
    color: var(--default-white);
}

.button.primary:hover{
    background-color: var(--button-primary-bg-hover);
}

.button.primary.outline{
    border-color:var(--button-primary-bg);
    color: var(--button-primary-bg);
}

.button.primary.outline:hover{
    border-color:var(--button-primary-bg-hover);
    color: var(--button-primary-bg-hover);
}


/* Success */
.button.success{
    background-color: var(--button-success-bg);
    color: var(--default-white);
}

.button.success:hover{
    background-color: var(--button-success-bg-hover);
}

.button.success.outline{
    border-color:var(--button-success-bg);
    color: var(--button-success-bg);
}

.button.success.outline:hover{
    border-color:var(--button-success-bg-hover);
    color: var(--button-success-bg-hover);
}


/* Erorr */
.button.error{
    background-color: var(--button-error-bg);
    color: var(--default-white);
}

.button.error:hover{
    background-color: var(--button-error-bg-hover);
}

.button.error.outline{
    border-color:var(--button-error-bg);
    color: var(--button-error-bg);
}

.button.error.outline:hover{
    border-color:var(--button-error-bg-hover);
    color: var(--button-error-bg-hover);
}


/* Warning */
.button.warning{
    background-color: var(--button-warning-bg);
    color: var(--default-white);
}

.button.warning:hover{
    background-color: var(--button-warning-bg-hover);
}

.button.warning.outline{
    border-color:var(--button-warning-bg);
    color: var(--button-warning-bg);
}

.button.warning.outline:hover{
    border-color:var(--button-warning-bg-hover);
    color: var(--button-warning-bg-hover);
}


/* Neutral */
.button.neutral{
    background-color: var(--button-neutral-bg);
    color: var(--default-white);
}

.button.neutral:hover{
    background-color: var(--button-neutral-bg-hover);
}

.button.neutral.outline{
    border-color:var(--button-neutral-bg);
    color: var(--button-neutral-bg);
}

.button.neutral.outline:hover{
    border-color:var(--button-neutral-bg-hover);
    color: var(--button-neutral-bg-hover);
}


/* Neutral 2 */
.button.neutral-2{
    background-color: var(--button-neutral-2-bg);
    color: var(--button-neutral-2-color);
}

.button.neutral-2:hover{
    background-color: var(--button-neutral-2-bg-hover);
}

.button.neutral-2.outline{
    background-color: var(--default-white);
    border: var(--border-);
}
